@using AgencyCore.Models
@model List<Customer>
@{
    ViewData["Title"] = "AgencyDetail";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<br />
<h2>@ViewBag.nameag</h2>
<br/>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>LastName</th>
        <th>City</th>

    </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.CustomerId</td>
            <td>@customer.Name</td>
            <td>@customer.LastName</td>
            <td>@customer.City</td>
            

        </tr>
    }

</table>


